/* TABLEAU */
table {
	border-collapse: collapse;
	margin-left: 20px;
}

table#liretxt {
	border-collapse: collapse;
	margin-left: 20px;
	width: 90%;
}

thead, tfoot {
	background-color: #D0E3FA;
	border: 1px solid #6495ed;
}
tbody {
	background-color: #FFFFFF;
	border: 1px solid #6495ed;
}
th {
	font-family: monospace;
	border: 1px dotted #6495ed;
	padding: 5px;
	background-color: #EFF6FF;
}
td {
	font-family: sans-serif;
	font-size: 80%;
	border: 1px solid #6495ed;
	padding: 5px;
	text-align: left;
}

td span.error {
	font-family: sans-serif;
	font-size: 90%;
	color: #FE0101;
	text-decoration: underline;
	display: none;
	background:url('../images/png/error.png') no-repeat left;
	padding-left:20px;
}

td.td_listtxt {
	text-align: center;
}