/*AFFICHAGE ETAT*/
ul.erreur li{
	font-family: sans-serif;
	font-size: 90%;
	color: #FE0101;
	text-decoration: underline;
	background:url('../images/png/error.png') no-repeat left;
	padding-left:15px;
}

ul.ok li{
	font-family: sans-serif;
	font-size: 90%;
	color: #248D0A;
	text-decoration: underline;
	background:url('../images/png/good.png') no-repeat left;
	padding-left:15px;
}

/*FORMLAIRE MODIF CAT*/
div#listeCat {
	float: left;
}

div.form_modifcat {
	margin-left: 300px;
}

/*FORMLAIRE AJOUT TEXTE*/
form#formulaire_addtext {
	float: left;
}
div.form_addtxt {
	margin-left: 400px;
}

/*AFFICHAGE DU TXT*/
fieldset#affichagetxt {
	font-family: sans-serif;
	margin: auto;
	padding: 15px;
	width: 70% ;
	height: 200px;
}
fieldset#affichagetxt div#corpsdutxt{
	height: 190px;
	overflow: auto;
}
fieldset legend {
	font-weight: bold;
}