@import url('./reset.css');
@import url('./tableau.css');
@import url('./affichage.css');

body {
	color: #111;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	background-color: #eee;
}

div#header {
	width: 1000px;
	height: 30px;
	padding: 40px 0 0;
	background-color: #000;
	margin: auto;
}

	div#header ul li {
		float: left;
		height: 30px;
		border-left: 1px solid #f00;
	}

	div#header ul li:first-child {
		border: none;
	}

	div#header ul li a {
		display: block;
		line-height: 30px;
		padding: 0 15px;
		font-size: 1.2em;
	}

	div#header ul li a:link {
		color: #eee;
	}

	div#header ul li a:visited {
		color: #999;
	}

	div#header ul li a:hover {
		background-color: #666;
		color: #000;
	}

	div#header ul li a:active {
		background-color: #666;
		color: #f00;
	}
	
div#millieu {

	margin:auto;
	position:relative;
	width:1000px;
	
}
	
div#container {

	background-color:white;
	margin: auto;
	width: 1000px;
	
	
	float:left;

}
	
	div#gauche{
		width: 300px;
		padding: 10px;
		background-color: #fff;
		
		float:left;
		
		height:100%;
		
	}

	div#droite {
		width: 660px;
		height: 100%;
		padding: 10px;
		background-color: #ddd;
		
		
		float:left;
		
		min-height:323px;

	}

	dl#menu {
		width: 250px;
		padding: 0 10px 10px;
		background-color: #fff;
		height:100%;

	}

	dl#menu dt {
		margin: 10px 0 5px 0;
		text-decoration: underline;
	}

	dl#menu dt a, dl#menu dt {
		font-size: 1.3em;
		color: #000;
	}

	dl#menu dd ul li a {
		color: #222;
		font-size: 1.1em;
		display: block;
		padding: 0 0 0 10px;
	}



div#footer {
	clear: both;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.1em;
	color: #FF0;
	background-color: #000;
	margin: auto;
	width: 1000px;
	position:relative;
}

div#footer a {
	color: #ff0;
}